body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Arial', sans-serif;
}

@font-face {
  font-family: 'MICR';
  src: url('./fonts/MicrEncoding-ZEDJ.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}